.profile_icon{
    width: 65px;
    height: 65px;
    margin-left: 30px;
    border:1px solid white;
    border-radius: 50%;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: start;
}

.member{
    color: white;
    margin-left:20px;
    font-family: Arial;
    padding: 50px 0;
    letter-spacing: 0.15em;
    text-align: left;
    font-weight: 700;
    font-size:20px;
}

.level{
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.outLine{
    height: fit-content;
    background-color: #efefef;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    shadow{
        box-shadow: 30px 0px 0px 30px rgba(23, 23, 23, 0.1);
    }
}

.inlineBtn{
    border-radius: 20px;
    background: #FFFFFF;
    padding: 20px;
}

.inline{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tag_section{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}

.title{
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0.15em;
    color: #696969;
    margin-left: 15px;
}